<!-- table.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Data View</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
  <link rel="stylesheet" href="/styles.css">
</head>
<body style="text-align: center;">
  <br>
  <a href="/">Home</a> |
  <a href="/view">View Data</a>
  <br><br>  
  <h1>Record Deleted Successfully!</h1>
  <p>Bye <%= userName %> ! Your data has been deleted from our database.</p>
</body>
</html>
